<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kalender</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link href="/static/main.css" rel="stylesheet">
  </head>
  <body class="bg-white antialiased">

<div class="font-semibold text-normal">

<style>
  .bg-gray-200-striped {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 3px,
        rgba(0, 0, 0, 0.4) 4px,
        transparent 5px
      ),
      rgb(229, 231, 235);
  }
  .bg-red-200-striped {
    background: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 3px,
        rgba(0, 0, 0, 0.4) 4px,
        transparent 5px
      ),
      rgb(254, 202, 202);
  }
</style>
